@charset "utf-8";
html{
    display: block;
    padding: 0;
    margin: 0;
}
body{
    display: block;
    background: rgb(52, 51, 53);
    padding: 0;
    margin: 0;
}
div#logo{
    float: left;
}
nav.horizontal ul li {
    list-style: none;
    float: left;
    display: block;
    padding: 10px;
    border: solid black .5px;
}
nav.horizontal a {
    text-decoration: none;
    color: black;
}
section.Title{
    text-align: center;
    color: rgb(0, 199, 116); 
    clear: both;
}
section.Title div#Title img{
    margin-left: auto;
    margin-left: right;
    padding: 0;
    border-radius: 50px;
    width: 20%;
}
section.About{
    display: block;
    background: rgb(52, 51, 53);
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
}
div.Purple{
    height: 25px;
    background-color: rgb(52, 51, 53);
    margin: 0;
    padding: 0;
}
section.Skills{
    position: relative;
    top: -25px;
}
section.Skills div{
    display: block;
    text-align: center;
    background: white;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    color: black;
    box-shadow:  black -8px 10px 8px;
    overflow: auto;
    height: 260px;
    border: solid black 0.5px
}
section.Skills div img#HTML{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
section.Skills div img#CSS{
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
section.Skills div img#Scale_1{
    display: block;
    width: 65%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
section.Skills div img#Scale_2{
    display: block;
    width: 65%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
div.White{
    height: 250px;
    background-color: white;
    margin: 0;
    padding: 0;
}
section.Work{
    display: block;
    text-align: center;
    background-color: white;
    color: black;
}
section.Work h2{
   margin: 0;
}
section.Work figure{
    margin: 0;
    padding: 0;
}
section.Work figure img{
    margin: 10px;
    padding: 0px;
    width: 50%;
    border: solid black 2px;
    border-radius: 10px;
}
section.Contact{
    display: block;
    background: white;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: black;
    color: black;
    box-shadow:  black -10px 10px 20px;
}
section.Social img{
    margin-left: 5px;
    border: 1px solid;
    border-radius: 50px;
    max-width: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(52, 51, 53);
    border-color: black;
    box-shadow:  black -10px 10px 20px;
}
