@charset "utf-8";
html{
    display: block;
    padding: 0;
    margin: 0;
    font-family: RussoOne, sans-serif;
    color: rgb(65, 216, 153);
}
body{
    display: block;
    background: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: RussoOne;
    src: url(RussoOne-Regular.ttf);
}



nav.horizontal {
    text-align: center;
}
nav.horizontal a {
    text-decoration: none;
    color: rgb(65, 216, 153);
}
nav.horizontal li{
    list-style: none;
    border: solid black 0.5px;
    box-shadow:  black 1px 5px 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.col-1-4{
    width: 25%;
    float: left;
}



section.Title{
    text-align: center;
    color: rgb(65, 216, 153);
    clear: both;
    padding-top: 20px;
}
section.Title div#Title img{
    margin-left: auto;
    margin-left: right;
    padding: 0;
    border-radius: 50px;
    width: 20%;
    box-shadow:  black 1px 1px 8px 5px;
}



section.About{
    display: block;
    background: rgb(51, 51, 51);
    text-align: center;
    margin: 0;
    padding: 5px;
    color: rgb(65, 216, 153);
}



section.Skills{
    position: relative;
    top: -25px;
}
section.Skills div{
    display: block;
    text-align: center;
    background: rgb(51, 51, 51);
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    color: rgb(65, 216, 153);
    box-shadow:  black 1px 1px 8px 5px;
    overflow: auto;
    height: 300px;
    padding: 10px;
    border: solid black 0.5px;
}
section.Skills div img#HTML{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
section.Skills div img#CSS{
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
section.Skills div img#Scale_1{
    display: block;
    width: 65%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
section.Skills div img#Scale_2{
    display: block;
    width: 65%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}



section.Work{
    display: block;
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: rgb(65, 216, 153);
    padding-top: 100px;
}
section.Work h2{
   margin: 0;
}
section.Work figure{
    margin: 0;
    padding: 0;
}
section.Work figure img{
    margin: 10px;
    padding: 0px;
    width: 50%;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow:  black -8px 10px 8px;
}



section.Contact{
    display: block;
    background: rgb(51, 51, 51);
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: black;
    color: rgb(65, 216, 153);
    box-shadow:  black -10px 10px 20px;
}



section.Social img{
    margin-left: 5px;
    border: 1px solid;
    border-radius: 50px;
    max-width: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(51, 51, 51);
    border-color: black;
    box-shadow:  black -10px 10px 20px;
}
.col-1-2{
    width: 50%;
    float: left;
}
section.Social li{
    list-style: none;
    text-align: center;
}